$nav_height: 69px


nav.navbar
  background-color: #F0C8C8
  min-height: $nav_height

  .navbar-toggler
    border: 0
    .navbar-brand
      height: 24px
      width: 100%
      padding: 0
      margin: 0

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))

.navbar-collapse
  transform: translateX(-100%)
  position: absolute
  z-index: 10
  height: 100vh
  width: 100%
  display: flex!important

  opacity: 0
  transition: transform 125ms, opacity 125ms ease 125ms

  &.show
    transform: translateX(0)
    opacity: 1

  &:hover
    transition: transform 125ms linear 125ms, opacity 125ms ease

  .navbar-inner
    background-color: #FFF
    width: 70%
    height: 100vh
  .navbar-placeholder
    background-color: rgba(68,68,74,0.4)
    width: 30%
    height: 100vh

  .navbar-nav
    width: 80%
    margin: 0 auto
    padding-bottom: 30px

    .nav-item
      display: flex
      justify-content: start
      align-items: center
      border-bottom: 1px solid #E8E8E8
      padding: 16px 0

      .icon
        width: 24px
        height: 24px
        margin-right: 10px

      .nav-link
        font-family: 'Inter', sans-serif
        font-style: normal
        font-weight: 400
        font-size: 16px
        line-height: 19px
        color: #212126

  .user
    margin: 40px 0

    .avatar
      padding: 5px
      img
        width: 50px
        height: 50px
        border-radius: 25px

    .info
      display: flex
      flex-direction: column
      margin-left: 11px
      justify-content: center

      .name
        font-family: 'Inter', sans-serif
        font-style: normal
        font-weight: 700
        font-size: 16px
        line-height: 19px
        color: #212126
        margin-bottom: 4px

      .phone
        font-family: 'Inter', sans-serif
        font-style: normal
        font-weight: 400
        font-size: 14px
        line-height: 17px
        color: #44444A


.main
  height: calc(100vh - #{$nav_height})

  .heading
    font-family: 'Inter', sans-serif
    font-style: normal
    font-weight: 700
    font-size: 24px
    line-height: 29px


  .sos-controls
    width: 310px
    margin: 0 auto

    .sos-btn
      box-sizing: border-box
      background: linear-gradient(180deg, #BF5959 0%, #A90000 100%)
      width: 220px
      height: 220px
      margin-left: 45px
      border: 0
      padding: 0
      border-radius: 110px

      font-family: 'Inter', sans-serif
      font-style: normal
      font-weight: 700
      font-size: 64px
      line-height: 77px

      color: #FFFFFF

      img
        width: 80px
        height: 80px

    .shadow-bg
      box-sizing: border-box
      position: absolute
      z-index: -1

    .inner-background
      background: linear-gradient(180deg, rgba(191, 89, 89, 0.3) 0%, rgba(169, 0, 0, 0.3) 100%)
      border: 1px solid #CE3939
      width: 270px
      height: 270px
      margin-top: -246px
      margin-left: 20px
      border-radius: 235px

    .outer-background
      background: linear-gradient(180deg, rgba(191, 89, 89, 0.15) 0%, rgba(169, 0, 0, 0.15) 100%)
      border: 1px solid #CE3939
      width: 310px
      height: 310px
      margin-top: -266px
      border-radius: 155px

    #sosSaveBtn
      display: none

    &.active
      #sosInitBtn
        display: none
      #sosSaveBtn
        display: block

      .inner-background
        animation: inner 2s linear infinite

      .outer-background
        animation: inner 2s linear 0.5s infinite

      @keyframes inner
        50%
          margin-top: -216px
          margin-left: 50px
          width: 210px
          height: 210px

  .phones
    padding: 0 40px

    .phones-item
      width: 100%
      margin-bottom: 20px

      display: flex
      flex-direction: row
      justify-content: space-between
      align-items: center
      padding: 16px
      isolation: isolate

      background: #FFFFFF
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15)
      border-radius: 30px

      div.icon
        flex-grow: 0

        img
          width: 60%
          height: auto

      .content
        .phone
          font-family: 'Inter', sans-serif
          font-style: normal
          font-weight: 600
          font-size: 24px
          line-height: 29px
          color: #000000

        .name
          font-family: 'Inter', sans-serif
          font-style: normal
          font-weight: 400
          font-size: 14px
          line-height: 17px
          color: #000000

      .gap
        flex-grow: 1

      .proceed-button
        background: #E53935
        padding: 5px 6px
        width: 24px
        height: 24px
        color: #FFF
        border-radius: 12px
        text-align: center

        img
          margin-top: calc(-50% - 7px)
          width: auto
          height: 100%

      &:last-child
        margin-bottom: 0


.shelters_list
  min-height: calc(100vh - #{$nav_height})
  padding: 0 40px
  max-width: 700px
  margin: 0 auto 20px

  .heading
    height: 68px
    width: 100%
    background: #FFFFFF
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15)
    border-radius: 30px
    padding: 22px 24px
    margin-top: 40px
    margin-bottom: 32px

    h2
      font-family: 'Inter', sans-serif
      font-style: normal
      font-weight: 600
      font-size: 20px
      line-height: 24px
      color: #212126
      margin: 0

    .filter
      background: #F92D2D
      width: 36px
      height: 36px
      padding: 6px
      border-radius: 18px

      img
        margin-top: -2px
        width: 24px
        height: 24px

  .shelters

    .shelter-item
      padding: 16px 0
      border-bottom: 1px solid #EEEEEE

      &:last-child
        border-bottom: 0

      .name
        font-family: 'Inter', sans-serif
        font-style: normal
        font-weight: 400
        font-size: 16px
        line-height: 19px

        color: #212126

      .secondary-info
        margin-top: 10px
        font-family: 'Inter', sans-serif
        font-style: normal
        font-weight: 400
        font-size: 14px
        line-height: 17px
        color: #989898

