{% extends 'base.html' %}
{% load static %}


{% block main %}
  <div class="main justify-content-around d-flex flex-column">
    <h2 class="heading text-center">Экстренная помощь</h2>

    <div class="sos-controls">
      <button class="sos-btn text-center" id="sosInitBtn" data-url="{% url "sos_records:sos_request" %}">
        SOS
      </button>
      <button class="sos-btn" id="sosSaveBtn">
        <img src="{% static 'images/stop-icon.png' %}" alt="">
      </button>
      <div class="inner-background shadow-bg"></div>
      <div class="outer-background shadow-bg"></div>
    </div>

    <div class="phones">

      <div class="phones-item" onclick="window.open('tel:1259')">
        <div class="icon">
          <img src="{% static 'images/phone-icon.png' %}" alt="">
        </div>
        <div class="content">
          <div class="phone">
            1259
          </div>
          <div class="name">
            Центр доверия МВД
          </div>
        </div>
        <div class="gap"></div>
        <div class="proceed-button">
          <img src="{% static 'images/chevron-right.png' %}" alt="">
        </div>
      </div>

      <div class="phones-item" onclick="window.open('tel:1146')">
        <div class="icon">
          <img src="{% static 'images/chat-icon.png' %}" alt="">
        </div>
        <div class="content">
          <div class="phone">
            1146
          </div>
          <div class="name">
            Телефон доверия женщин
          </div>
        </div>
        <div class="gap"></div>
        <div class="proceed-button">
          <img src="{% static 'images/chevron-right.png' %}" alt="">
        </div>
      </div>

    </div>
  </div>
{% endblock %}
